
body {
  background: #F8F9FA; /*#F1EBF5 #fdf9fe for card*/
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
}

@media (prefers-color-scheme: dark) {
  body {
    background: #121212; /* Dark gray background */
    color: #e0e0e0 ;
  }
  
}

span {
  text-transform: uppercase;
  background: linear-gradient(
    90deg,
    #ff0084,
    #e632ff,
    #00ffc8,
    #ffb400,
    #ff0084
  ); /*#4285F4, #0F9D58*/
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  background-clip: text;
  color: transparent;
  background-size: 200% 100%;
  animation: live-gradient 7s linear infinite;
}

@keyframes live-gradient {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
