 @font-face {
		font-family: bloodlust;
		src: url(fonts/BloodLust.woff)
	}
	
 @font-face {
	  font-family: electroharmonix;
	  src: url(fonts/electroharmonix.ttf)
	}
	
 @font-face {
		font-family: go3;
		src: url(fonts/go3v2.ttf)
	}
	
 @font-face {
	  font-family: hant;
	  src: url(fonts/HereAndNotFound.otf)
	}
	
 @font-face {
		font-family: jjk;
		src: url(fonts/Jujutsu-Kaisen.ttf)
	}
	
 @font-face {
	  font-family: lgf;
	  src: url(fonts/LGfBesitosRound-Light.otf)
	}
	
 @font-face {
		font-family: playpretend;
		src: url(fonts/PlayPretend.otf)
	}
	
 @font-face {
	  font-family: robotreavers;
	  src: url(fonts/RobotReavers.ttf)
	}
	
 @font-face {
		font-family: tr2n;
		src: url(fonts/Tr2n.ttf)
	}
	
 @font-face {
		font-family: pcf;
		src: url(fonts/Pacifico-Regular.ttf)
	}
	
 @font-face {
   font-family: tdv;
   src: url(fonts/TheDevilNet.woff)
 }
 
 @font-face {
   font-family: y2k;
   src: url(fonts/y2kbug.ttf);
  }
  
 @font-face {
   font-family: gl;
   src: url(fonts/grimlord.ttf);
  }
 
 @font-face {
   font-family: cnn;
   src: url(fonts/cat-north.north.ttf);
 }
